# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
#/example_data/

# exclude reports and figures
/reports/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/
*.m~
*.pyc
docs/source/tutorials/sub-ex_T1w_cerebellum_dseg.nii.gz
docs/source/tutorials/sub-ex_T1w_trans.mat
docs/source/tutorials/sub-ex_T2w_cerebellum_dseg.nii.gz
docs/source/tutorials/sub-ex_T1w_space-SUIT.nii.gz
docs/source/tutorials/sub-ex_T1w_to-SUIT_mode-image_detJ.nii.gz
docs/source/tutorials/sub-ex_T1w_to-SUIT_mode-image_disp.nii.gz
docs/source/tutorials/sub-ex_T1w_to-SUIT_mode-image_xfm.nii.gz
docs/source/tutorials/sub-ex_T1w_to-SUIT_mode-image_xfm1.nii.gz
docs/source/tutorials/sub-ex_T1w_xfm-SUIT_0GenericAffine.mat
docs/source/tutorials/sub-ex_T1w_xfm-SUIT_1InverseWarp.nii.gz
docs/source/tutorials/sub-ex_T1w_xfm-SUIT_1Warp.nii.gz
docs/source/tutorials/test/sub-ex_T1w_space-SUIT.nii.gz
docs/source/tutorials/test/sub-ex_T1w_to-SUIT_mode-image_disp.nii.gz
docs/source/tutorials/test/sub-ex_T1w_to-SUIT_mode-image_xfm.nii.gz
docs/source/tutorials/test/sub-ex_T1w_xfm-SUIT_0GenericAffine.mat
docs/source/tutorials/test/sub-ex_T1w_xfm-SUIT_1InverseWarp.nii.gz
docs/source/tutorials/test/sub-ex_T1w_xfm-SUIT_1Warp.nii.gz
docs/source/tutorials/sub-ex_T1w_from-SUIT_mode-image_xfm.nii.gz
docs/source/tutorials/sub-ex_T1w_resliced.nii.gz
docs/source/tutorials/tpl-SUIT_space-ex_resliced.nii.gz
