[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
ipykernel = "==5.1.2"
pandas = "==0.25.0"
suit = {editable = true, path = "."}
nibabel = "*"
matplotlib = "*"
seaborn = "*"
numpy = "*"
matplotlib = "*"
nilearn = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true